html, html *{
  margin:0; padding:0;
  box-sizing: border-box;
  /*패딩이나 마진 등 요소가 직접적인 영향을 끼치지 못하게 해주는 것*/ 
  body{
    font-family:Helvetica, sans-serif;
    font-size:16px; // 여타 다른것들이 em으로 사용함
  }
}
a, a:active, a:hover, a:visited{
  text-decoration: none;
}