@import "reset";
input[type=checkbox]{accent-color: green;}
input[type=radio]{accent-color:  pink;}
input[type=range]{accent-color: skyblue;}

#main{
  width: 70px; 
  height: 300px; 
  border:1px solid #c3c3c3;
  display: flex;/*가로 엘리먼트 정렬*/
  flex-wrap: wrap;
  align-content: center;
  div{
    width: 70px; 
    height: 70px; 
  }
}
.coral{
  background-color: coral;
}
.lightblue{
  background-color: lightblue;
}
.pink{
  background-color: pink;
}

.parent{
  width:100%;
  height:300px;
  border:1px solid black;
  display: flex;
  justify-content: center;/*가로 가운데 정렬*/
  align-items: center; /*세로 가운데 정렬*/
  .child{
    background-color: violet;
    width: 100px; height: 100px;
    display: flex;
    justify-content: center;/*가로 가운데 정렬*/
    align-items: center;/*세로 가운데 정렬*/
  }
}
.vm, .ai{
  width:100%;
  height:200px;
  border:1px solid black;

}
.vm{
  vertical-align: middle;
}

.ai{ 
  display:flex; 
  align-items: center;
}

.all{
  width: 220px; height: 300px; border:1px solid black;
  display: flex; 
  align-items: flex-start;
  div{flex:1;}/*동일한 면적*/
  #alone{align-self: center;}
}
.lightgreen{background-color: lightgreen;}

#ex1{
  background-color: yellow;
  color:red;
}
#ex2{
  background-color: yellow;
  color:red;
  all:inherit;
}
#ex3{
  background-color: yellow;
  color:red;
  all:unset;
}

.rect{
  width: 100px; height: 100px; 
  background:red;
  animation: move 2s infinite;
  position: relative;
}
@keyframes move{
  from{left:0px;}
  to{left:600px;}
}

// 보더
.b1, .b2, .b3{
  width: 100px; 
  height: 100px;
  display:inline-block;//블록형태로 가로 정렬
}
.b1{border:5px solid green;}
.b2{border:4px dotted blue;}
.b3{border:double}

.topbutton{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:5px;
  background: black;
  width:50px; height:50px;
  bottom:20px; right:20px;
  position:fixed;
}

.text-shadow{
  text-shadow:2px 2px 10px grey;
}
.box-shadow{
  box-shadow:2px 2px 10px green;
}

.border-box, .content-box{
  display:inline-block;
  border:1px solid #333;
  padding:20px;
  width:177px; 
  height:80px;
}
.border-box{
  box-sizing:border-box;
}
.content-box{
  box-sizing:content-box;
}

/* 다단 */
.column-count{
  column-count: 5;
  line-height: 1.8em; 
  // 바디에서 설정할 때는 em 
  // html에서 설정할 때는 rem 
  // 중국어 일본어 영어 숫자 다 자간 0
  letter-spacing: -0.05px;
  word-spacing: 5px;
  color: #333;
  font-weight: 400;
}

p::before{
  content:"^^!";
}
p::after{
  content:"^^!";
}

body{counter-reset: my-sec-counter;}
h2::before{
  counter-increment: my-sec-counter;
  content: "섹션 "counter(my-sec-counter) ". ";
}

input[type="text"]{
  caret-color:red;
}

.clip{
  position:absolute;
  clip:rect(0px,60px,200px,0px);
}

.cursor{
  cursor:zoom-in;
}