$myFont:Helvetica, sans-serif;
$myColor:red;
$myFontSize:18px;
$myWidth:680px;
/*위에서 공통으로 들어가는 변수 선언(재활용하기 위함)*/
html{
  body{
    font-family:$myFont;
    font-size:$myFontSize;
    color:$myColor;
      #container{
      width:$myWidth;
      }
  }
}